*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
    color: white;
}

.main {
    display: grid;
    gap: 2em;
    border: 1px solid;
    padding: 1em;
    border-image: linear-gradient(to bottom, red, blue, green);
    border-image-slice: 1;
    border-width: 3px;
    animation: border 1s infinite cubic-bezier(1,0,0,1);
}


.upperSec {
    border: 1px solid white;
    padding: 5px 10px;
}

.upperSec .number-show-top{
    text-align: right;
    margin-bottom: 0.5em;
}

.upperSec .number-show-bottom{
    font-size: 21px;
    text-align: right;
}

.lowerSec {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    place-items: center;
    gap: 0.5em;
}

.lowerSec > div {
    border: 1px solid;
    padding: 1em 2em;
}

.lowerSec div:hover {
    border: 1px solid gray;
}




/*Keyframes starts*/

@keyframes border {

    from{
        border-image: linear-gradient(to bottom, red, blue, green);
        border-image-slice: 1;
    }

    to{
        border-image: linear-gradient(to bottom, green, blue, red);
        border-image-slice: 1;
    }
}
