*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
}

.main {
    border: 1px solid whitesmoke;
}

.upperSec{
    border: 1px solid red;
    display: grid;
    grid-template-rows: 10% 1fr;
}

.lowerSec {
    border: 1px solid blue;
}