  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Yanone+Kaffeesatz:wght@400;500;600;700&display=swap');

:root{
    --font :'Montserrat', sans-serif;
    --head-font-weight: 600;
    --sub-font-weight:400;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
    color: white;
    font-family: var(--font);
}

.main {
    display: grid;
    gap: 2em;
    padding: 1em;
    background: #1D1F20;
    position: relative;
    border-radius: 0;
}

.main:after {
    content: '';
    position: absolute;
    top: calc(-1 * 3px);
    left: calc(-1 * 3px);
    height: calc(100% + 3px * 2);
    width: calc(100% + 3px * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: 3px;
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
}


.upperSec {
    border: 1px solid white;
    padding: 5px 10px;
    font-weight: var(--head-font-weight);
}

.upperSec .number-show-top{
    text-align: right;
    margin-bottom: 0.5em;
}

.upperSec .number-show-bottom{
    font-size: 21px;
    text-align: right;
}

.lowerSec {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    gap: 0.5em;
    text-align: center;
    font-weight: 400;
}

.wide{
    grid-column: span 2;
}

.tall{
    grid-row: span 2;
}

.lowerSec > div {
    border: 1px solid;
    padding: 1em 2em;
    transition: 0.3s cubic-bezier(.8, -.5, .2, 1.4);
}

.lowerSec .number:hover{
    border-image: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82) 1;
}


.lowerSec .operation:hover {
    box-shadow: 3px -3px #ef4e7b, -3px 3px #a166ab;
    border-color: #1d1f20;
}




/*Keyframes starts*/

@keyframes border {

    from{
        border-image: linear-gradient(to bottom, red, blue, green);
        border-image-slice: 1;
    }

    to{
        border-image: linear-gradient(to bottom, green, blue, red);
        border-image-slice: 1;
    }
}

@keyframes animatedgradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
